.button__rectangle {
	background: none;
	min-width: 161px;
	padding: 15px 10px;
	border: 2px solid $accentOne;
	font-family: Montserrat;
	color:  $fontLight;
	font-size: 14px;
	font-weight: 500;
	// line-height: 6.429;
	text-align: center; 
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	&:hover {
		box-shadow: 2px 2px 0px $accentOne; 
		border: 2px solid $fontLight;
		transition: all 0.2s ease-in-out;
	}
}

.button__rectangle--keyline {
	background: none;
	color: black;
	font-weight: 700;
	border: none;
	border-bottom: 3px solid black; 
	text-transform: uppercase;
	padding: 0px 0px 5px 0px;
	transition: all 0.2s ease-in-out;
	&:hover {
		border-bottom: 3px solid $accentOne;
		// text-shadow: 1px 1px $accentOne;
		transition: all 0.2s ease-in-out;
	}
	@include respond-to("small") {
		margin-bottom: 15px;
	}
}

.button__rectangle--contact {
	margin-top: 30px;
}

.button__circle {
	background-color: $accentOne;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: $fontLight;
	border: none;
}

.creditBadge {
	color: $fontLight;
	position: absolute;
	bottom: 15px;
	right: 15px;
	// opacity: 0.5;
}
