// Colours
$backgroundGrey: #5b5b5b;

$fontLight: #fff;
$fontDark: #222;
$fontLightGrey: #6e6e6e; 
$copyGrey: #4e4e4e;
$borderGrey: rgba(35, 36, 40, 0.2);

$accentOne: #ff6f00;
$accentOneDark: darken($accentOne, 10%);

$mainFont: 'Montserrat', sans-serif;
// $accentFont: 'Playfair Display', serif;


a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	display: inline-block;	
	padding: 0px;
	margin: 0px;
}

.wrapper {
	max-width: 970px;
	margin: auto;
	padding: 0px 15px 0px 15px;
}

.sectiontitle__container {
	padding-top: 140px;
}

a {
	text-decoration:none;
}

p {
	line-height: 28px;
}


// Media Queries

@mixin respond-to($breakpoint) {
	@if $breakpoint == "small" {
		@media (max-width: 480px) {
			@content;
		}
}

	@else if $breakpoint == "medium" {
		@media (max-width: 580px) {
			@content;
		}
	}

	@else if $breakpoint == "medium-large" {
		@media (max-width: 768px) {
			@content;
		}
	}

	@else if $breakpoint == "large" {
		@media (max-width: 940px) {
			@content;
		}
	}
}