// Headings
body {
	font-family: $mainFont;
	color: $fontDark;
}

h1 {
	// font-family: $mainFont;
	display: inline-block;
	color:  $fontLight;
	font-size: 80px;
	font-weight: 700;
	line-height: 90px;
	text-align: left;
	text-transform: uppercase;
	@include respond-to("medium-large") {
		margin: 15px 0px;
	}
	@include respond-to("small") {
		font-size: 60px;
	}
}

h3 {
	// font-family: $mainFont;
	// color: $fontDark;
	font-size: 60px;
	font-weight: 700;
	line-height: 65px;
	margin: auto;
	text-transform: uppercase;
	padding-top: 30px;
}

h4 {
	// font-family: $mainFont;
	// color: $fontDark;
	font-size: 36px;
	font-weight: 700;
	line-height: 65px;
	margin: 0;
	padding: 40px 0px 0px 0px;
}

h5 {
	// font-family: $mainFont;
	color:  $fontAccent;
	font-size: 14px;
	font-weight: 400;
	// line-height: 45px;
	text-align: left;
	padding: 0;
	margin: auto;
	text-transform: uppercase;
}

h6 {
	font-size: 16px;
	color: $fontLightGrey;
	font-weight: 400;
	line-spacing: 5px;
	margin: 0;
	padding: 0px 0px 30px 0px;
}

.skills__title {
	color: black;
	font-weight: 700;
}

.copy {
	color: $copyGrey;
	font-size: 14px;
	line-height: 2;
}
