.work__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include respond-to("medium-large") {
		flex-direction: column;
		padding: 30px 0px;
	}
}

.work__imgContainer {
	max-width: 50%;
	@include respond-to("medium-large") {
		max-width: 90%;
	}
}
.work__img {
	width: 100%;
	animation-delay: 0.2s;
}

.work__container:nth-child(even) {
	flex-direction: row-reverse;
	@include respond-to("medium-large") {
		flex-direction: column;
	}
}

.work__contentContainer {
	padding: 80px 45px	;
	@include respond-to("medium-large") {
		padding: 0px 15px;
		width: 90%;
	}
}

.work__buttonContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	& > *{
		margin: 0px 30px 0px 0px;
	}
	@include respond-to("small") {
		flex-direction: column;
		align-items: flex-start;
	}
}

.work__copy {
	padding: 0px 0px 30px 0px;
	margin: 0px;
}

