.work__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include respond-to("medium-large") {
		flex-direction: column;
		padding: 30px 0px;
	}
}

.work__imgContainer {
	max-width: 50%;
	@include respond-to("medium-large") {
		max-width: 90%;
	}
}
.work__img {
	width: 100%;
	// box-shadow: 6px 6px 0px $fontDark;
	// border: 3px solid $fontDark;
	// transition: all 0.2s ease-in-out;
	animation-delay: 0.2s;
	&:hover {
		// border: 3px solid $accentOne;
		// box-shadow: 2px 2px 0px $accentOne;
		// transition: all 0.2s ease-in-out;
	}
}

.work__container:nth-child(even) {
	flex-direction: row-reverse;
	@include respond-to("medium-large") {
		flex-direction: column;
	}
}

.work__contentContainer {
	padding: 80px 45px	;
	@include respond-to("medium-large") {
		padding: 0px 15px;
		width: 90%;
	}
}

.work__buttonContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	& > *{
		margin: 0px 30px 0px 0px;
	}
	@include respond-to("small") {
		flex-direction: column;
		align-items: flex-start;
	}
}

// .work__numWatermark {
// 	font-family: $mainFont;
// 	color: rgba(236, 236, 236, 0.8);
// 	font-size: 120px;
// 	font-weight: 700;
// 	margin: 0px;
// 	line-height: 80px;
// }

.work__copy {
	padding: 0px 0px 30px 0px;
	margin: 0px;
}

